@charset "UTF-8";
.game-end {
	text-align: center;
	margin: 0 auto;
	width: 100%;
			background-image: url(../img/stacking-end-images/fireworks_blue.jpg);
	background-repeat: no-repeat;

}
.greatjob {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	font-family: 'Roboto Condensed', sans-serif;
	min-height: 1080px;

}
.thanksstars {
	padding-top: 60px;

}
.scorecircle {
	background-image: url(../img/stacking-end-images/score-circle.png);
	background-position: center top;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 150px;

}
.scorepoint   {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 180%;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;

}
.points {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 250px;
	font-weight: 700;
	color: #ffffff;
	line-height: 230px;
	padding-top: 10px;
	margin: 10px 0 0 0;
}

	
.greatjob .score {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 180%;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}
	
	
.greatjob .coupon {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 160%;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	line-height: 140%;
}

.disclaimer {
	width:80%; margin:0 auto;
	}
	.disclaimer p {
			text-align: center;
			color: #ffffff;	text-transform: none;font-size: 100%; font-weight: 400;	font-family: 'Roboto Condensed', sans-serif; 		


	}
	
#couponsection {
	background-color: #ef4323;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	min-height: 100px;
}
